# Core
requests==2.31.0
python-dotenv==1.0.1

# Kafka
kafka-python==2.0.2

# MongoDB
pymongo==4.6.1

# Flask (Airflow compatible)
Flask==2.2.5

# Airflow
apache-airflow==2.7.3

# Spark
pyspark==3.5.0
